* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Fasthand';
  src: url('../fonts/Fasthand/Fasthand-Regular.ttf');
}

@font-face {
  font-family: 'NanumMyeongjo-Regular';
  src: url('../fonts/NanumMyeongjo-Regular/NanumMyeongjo-Regular.ttf');
}

@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: url('../fonts/AlegreyaSans-Regular/AlegreyaSans-Regular.ttf');
}
/*-------------------------------------------------------*/

body {
  background: linear-gradient(to bottom, #ccffff 0%, #ffffff 100%);
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Cinzel', sans-serif;
}

.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ccffff 0%, #ffffff 100%);
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: 'Cinzel', sans-serif;
}

.header-list {
  display: flex;
  gap: 90px;
  position: relative;
}

.header-logo {
  text-transform: uppercase;
  position: static;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.li_1 {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(249, 241, 241, 0.367);
  padding-top: 10px;
  border-radius: 5px;
  font-family: 'NanumMyeongjo-Regular', sans-serif;
}

.submenu_2 {
  display: none;
  position: absolute;
  top: 70%;
  left: -21%;
  background: rgba(249, 241, 241, 0.367);
  font-family: 'AlegreyaSans-Regular', sans-serif;
}

.submenu li:hover .submenu_2 {
  display: block;
}

.header-list li:hover .submenu {
  display: block;
}

section {
  padding-top: 70px;
  font-family: 'Pacifico-Regular', sans-serif;
}

.image-container {
  position: relative;
  padding-top: 30px;
}

.image-container img {
  width: 800px;
  height: 800px;
  border-radius: 10px;
}


.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(219, 221, 239, 0.518);
  color: #000000;
  padding: 10px;
  display: none;
  font-size: 24px;
  border-radius: 10px;
}

.image-container:hover .description {
  display: block;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    padding-top: 30px;
}

/*inline-block*/

.bg-orange {
  background: orange;
}

.bg-yellow {
  background: yellow;
}

.bg-green {
  background: green;
}

.box {
  width: 1200px;
  margin: 20px auto;
  padding-top: 50px;
}


/* i-block */
.d-inline-block {
  display: inline-block;
}

/* fz */
.fz-0 {
  font-size: 0px;
}

.fz-20 {
  font-size: 20px;
}

/* width */

.w-400 {
  width: 400px;
}

.w-800 {
  width: 800px;
}

/* height */
.h-100 {
  height: 100px;
}

.h-133 {
  height: 133.33px;
}

.h-200 {
  height: 200px;
}

.h-400 {
  height: 400px;
}

/* float */
.float {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* outline */
.outline {
  outline: 2px solid aquamarine;
  border-radius: 10px;
}

.flex-box {
  display: flex;
  justify-content: center;
}